@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
	--font-serif: Alegreya, serif;
	--inset-shadow-md: inset 0 3px 6px rgba(0, 0, 0, 0.25);
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-serif font-medium;
		color: var(--brand-accent-color);
	}

	h1 {
		@apply text-6xl;
	}

	h2 {
		@apply text-5xl leading-14;
	}

	h3 {
		@apply text-3xl;
	}

	h4 {
		@apply text-xl;
	}

	h5 {
		@apply text-lg;
	}

	sup {
		@apply font-serif text-xs font-bold tracking-widest uppercase opacity-70;
	}

	.inline-list {
		@apply inline-flex flex-wrap justify-center gap-3;
	}

	.inline-list li:not(:first-of-type)::before {
		content: '—';
		@apply pr-3;
	}

	.fab {
		@apply grid aspect-square w-14 cursor-pointer items-center justify-center rounded-full bg-white! shadow-md/30;
	}

	.fab.small {
		@apply w-10;
	}

	blockquote {
		@apply bg-sky-100 border-l-4 border-sky-500 p-4 rounded-md text-left;
	}
}
